<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'Add new post' }) %>
    <link rel="stylesheet" href="/styles/forms.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Add a new post</h1>
      <form action="/posts" method="POST">
        <!-- action is the path of the route that should handle the form submission. -->
        <!-- we can extract the data attached to this /posts URL through router.post("/posts", ) in blog.js -->
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" required />
        </div>
        <div class="form-control">
          <label for="summary">Summary</label>
          <input
            type="text"
            id="summary"
            name="summary"
            required
            maxlength="255"
          />
        </div>
        <div class="form-control">
          <label for="content">Post Content</label>
          <textarea id="content" name="content" required rows="5"></textarea>
        </div>
        <div class="form-control">
          <label for="author">Select Author</label>
          <select id="author" name="author">
            <% for (const author of authors) { %>
              <!-- "authors" is the key defined on the blog.js -->
              <!-- "author" is used for the "for loop." -->
            <option value="<%= author.id %> "><%= author.name %></option>
              <!-- "author" in author.id is the same author we used in the "for loop." -->
            <% } %>
            <!-- This is how we add the names of the authors into the dropdown list. -->
            <!-- We use the "id" of the name as the "value" instead of the name because it makes more sense. -->
            <!-- These "ids" and "names" are some data we've already created using MYSQL workbench. -->
            <!-- (We don't have an option to create the authors from the website.) -->
            <!-- (But instead we need to create them through MYSQL workbench.) -->
          </select>
        </div>
        <button class="btn">Add Post</button>
      </form>
    </main>
  </body>
</html>
